@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: linear-gradient(to bottom, hsl(190, 89%, 85%), hsl(188, 85%, 95%));
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background-color: hsl(190, 89%, 18%);
  color: white;
}
