@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, hsl(190, 89%, 85%), hsl(188, 85%, 95%));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#about {
  border: 1px solid black;
  /* margin-left: 102px; */
}

nav {
  border: 1px solid black;
}
